# Python / Airflow
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Docker volumes (Postgres data)
postgres_data/

# Logs
logs/
airflow/logs/*
*.log

# Env files
.env
#.env.local

# Temporary files
*.tmp
*.swp

artisan2go.session.sql