# Python / Airflow
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Docker volumes (Postgres data)
postgres_data/
metabase_data/
utils/*.sql
utils/generate_erd.py
!utils/init.sql
!utils/generate_erd.sql
/schemas_generate/*
!/schemas_generate/bootstrap
#views/

# Logs
logs/
airflow/logs/*
airflow/bootstrap/init_connections.sh
!airflow/bootstrap/wait_for_postgres.sh
*.log

# Env files
.env
#.env.local

# Temporary files
*.tmp
*.swp

artisan2go.session.sql
.DS_Store
